.snackbar {
    position: fixed;
    right: -30%;
    box-shadow: 0px 4px 16px 0px rgba(20, 25, 26, 0.08);
    padding: 25px;
    border-radius: 8px;
    background-color: #FFFFFF;
    transition: all 1s ease-in-out;
    opacity: 0;
}

.success {
    border-left: 8px solid #9ACA3C;
}

.error {
    border-left: 8px solid #F26651;
}

.snackbar-show {
    right: 50px;
    opacity: 1;
}

.snackbar__title {
    font-weight: 500;
    margin-bottom: 5px
}

.snackbar__body {
    margin-bottom: 15px;
}

.snackbar__btn {
    border-radius: 4px;
    border: 1px solid rgba(20, 25, 26, 0.12);
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
}
