.assets {
    display: flex;
    flex-direction: column;
}

.assets__title {
    margin-bottom: 30px;
}

.assets__sort {
    display: flex;
    gap: 30px;
}

.form__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}