.assets__pagination {
    float: right;
    display: flex;
    gap: 10px;
}

.assets__pagination-btn {
    border: none;
    background-color: transparent;
    color: #565656;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    width: 21px;
    height: 21px;
}

.assets__pagination-btn-active {
    background-color: #EF3D24;
    color: #FFFFFF;
    border-radius: 50%;
}

.assets__title {
    margin-bottom: 30px;
}

.assets__sort {
    display: flex;
    gap: 30px;
}

.form__buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.start {
    color: #EF3D24 !important;
    border: 2px solid #EF3D24 !important;
    background-color: white !important;
}

.sort-input {
    padding: 8px 12px;
    padding-left: 36px;
    border: none;
    border: 1px solid rgba(20, 25, 26, 0.12);
    border-radius: 4px;
}

.sort-input::placeholder,
.sort-input {
    color: #8A8C8C;
}

.input-label:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0px;
    bottom: 0;
    width: 20px;
    background: url('../../assets/Group\ 86.svg') center / contain no-repeat;
  }

.input-label {
    position: relative;
}

.sort-input:focus{
    outline: none;
}