table {
    width: 100%;
    border-spacing: 0 30px;
    color: #565656;
    font-size: 18px;
    font-weight: 500;
}

td,
th {
    padding: 25px 0;
}

thead {
    text-align: left;
}

td,
th {
    padding-left: 20px;
}