.sidebar {
    background: #F6F6F4;
    height: 100%;
    align-self: flex-start;
    font-weight: 700;
    width: 355px;
}

.sidebar__item {
    padding: 15px 40px;
    cursor: pointer;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}

.sidebar__linq {
    color: #000000;
}