:root {
  --colorTextLink: #005BD1;
  --colorTextPrimary: #14191A;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: var(--colorTextPrimary);
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--colorTextLink);
}

a:visited {
  color: transparent;
}