:root {
  --colorTextLink: #005BD1;
  --colorTextPrimary: #14191A;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: var(--colorTextPrimary);
  font-family: 'Roboto', sans-serif;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--colorTextLink);
}

.page {
  height: 100%;
}

input:focus {
  outline: none;
}

.page-title {
  font-size: 32px;
}