.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__features {
    display: flex;
    height: 100%;
}

.app__content {
    padding: 40px 60px;
    width: 100%;
    height: auto;
}